/* App specific styles */

/* Global Scrollbar Theme */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000;
    /* Black Track */
}

::-webkit-scrollbar-thumb {
    background: #D4AF37;
    /* Gold Thumb */
    border-radius: 5px;
    border: 2px solid #000;
    /* Spacing effect */
}

::-webkit-scrollbar-thumb:hover {
    background: #B5952F;
    /* Darker Gold on Hover */
}